
#needs{
    color: white;
    padding-top: 50px;
    padding-left: 50px;

}
.Cate{
    color: white;
    padding-left: 600px;
}
#yum{
    color: white;
    padding-left: 1200px;

}
#image1{
    position: absolute;
    left: 100px;
    top: 275px;
}
#image2{
    position: absolute;
    left: 275px;
    top: 275px;
}
#image3{
    position: absolute;
    left: 450px;
    top: 275px;
}
#image4{
    position: absolute;
    left: 625px;
    top: 275px;
}
#image5{
    position: absolute;
    left: 800px;
    top: 275px;
}
#image6{
    position: absolute;
    left: 975px;
    top: 275px;
}
#image7{
    position: absolute;
    left: 1150px;
    top: 275px;
}
#image8{
    position: absolute;
    left: 100px;
    top: 525px;
}
#image9{
    position: absolute;
    left: 275px;
    top: 525px;
}
#image10{
    position: absolute;
    left: 450px;
    top: 525px;
}
#image11{
    position: absolute;
    left: 625px;
    top: 525px;
}
#image12{
    position: absolute;
    left: 800px;
    top: 525px;
}
#image13{
    position: absolute;
    left: 975px;
    top: 525px;
}
#image14{
    position: absolute;
    left: 1150px;
    top: 525px;
}
#image15{
    position: absolute;
    left: 100px;
    top: 775px;
}
#image16{
    position: absolute;
    left: 275px;
    top: 775px;
}
#image17{
    position: absolute;
    left: 450px;
    top: 775px;
}
#image18{
    position: absolute;
    left: 625px;
    top: 775px;
}
#image19{
    position: absolute;
    left: 800px;
    top: 775px;
}
#image20{
    position: absolute;
    left: 975px;
    top: 775px;
}
#image21{
    position: absolute;
    left: 1150px;
    top: 775px;
}
#image22{
    position: absolute;
    left: 100px;
    top: 1025px;
}
#image23{
    position: absolute;
    left: 275px;
    top: 1025px;
}
#image24{
    position: absolute;
    left: 450px;
    top: 1025px;
}
#image25{
    position: absolute;
    left: 625px;
    top: 1025px;
}
#image26{
    position: absolute;
    left: 800px;
    top: 1025px;
}
#image27{
    position: absolute;
    left: 975px;
    top: 1025px;
}
#image28{
    position: absolute;
    left: 1150px;
    top: 1025px;
}
#image29{
    position: absolute;
    left: 100px;
    top: 1275px;
}
#image30{
    position: absolute;
    left: 275px;
    top: 1275px;
}
#image31{
    position: absolute;
    left: 450px;
    top: 1275px;
}
#image32{
    position: absolute;
    left: 625px;
    top: 1275px;
}
#image33{
    position: absolute;
    left: 800px;
    top: 1275px;
}
#image34{
    position: absolute;
    left: 975px;
    top: 1275px;
}
#image35{
    position: absolute;
    left: 1150px;
    top: 1275px;
}
#image36{
    position: absolute;
    left: 100px;
    top: 1525px;
}
#image37{
    position: absolute;
    left: 275px;
    top: 1525px;
}
#image38{
    position: absolute;
    left: 450px;
    top: 1525px;
}
#image39{
    position: absolute;
    left: 625px;
    top: 1525px;
}
#image40{
    position: absolute;
    left: 800px;
    top: 1525px;
}
#image41{
    position: absolute;
    left: 975px;
    top: 1525px;
}
